n8n/backup/workflows/srOnR8PAY3u4RSwb2.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "fe8b0cf1-a85f-47b9-bd41-a0be528cccdd",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        -140
      ],
      "webhookId": "cdb5c076-d458-4b9d-8398-f43bd25059b1"
    },
    {
      "parameters": {},
      "id": "5f587ed6-2171-4ca5-bc57-13b55cde2129",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        40,
        120
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "text": "={{ $json.chatInput }}",
        "options": {
          "maxIterations": 10
        }
      },
      "id": "d76a315f-ae84-42b1-84b6-ae9f676eeba3",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        0,
        -140
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "id": "be1a56cc-9819-40ba-81e8-7ecaaea6c1ae",
      "name": "Ollama Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -180,
        140
      ],
      "credentials": {
        "ollamaApi": {
          "id": "cHqLfm5lXRHe7PfX",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to get the service availability.",
        "url": "http://cmh-contentexchange-service-sit.aws.wiley.com:8080/version"
      },
      "id": "0b326789-e261-4efe-9e25-937881cd7516",
      "name": "Get Availability",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        260,
        120
      ]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Availability": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8fa9a679bd9d6120022deb2e02f5a05fd5f78e8e7b141154b32c39043f9b4f26"
  }
}